html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
body,
html {
  line-height: 1.5;
  padding: 2%;
}
h1 {
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  color: white;
}
p {
  font-family: 'Roboto', sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  padding: 4%;
}
nav .current {
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 0 1%;
}
nav #aboutLink {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
@media ((max-width: 500px)) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }
  nav #aboutLink {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
  }
}
.title-container {
  background-image: url(/assets/home.png);
  height: 500px;
  width: 80%;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-container button {
  padding: 1% 4%;
  background-color: white;
  color: black;
  font-size: 1.3rem;
  border-radius: 8px;
  box-shadow: 5px 10px 8px #888888;
}
@media ((max-width: 500px)) {
  .title-container {
    height: 200px;
  }
  .title-container h1 {
    font-size: 1.5rem;
  }
}
.artists-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2%;
  border-top: 2px solid grey;
}
@media ((max-width: 500px)) {
  .artists-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.artists-container .artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
@media ((max-width: 500px)) {
  .artists-container .artist {
    width: 80%;
    margin-top: 2%;
  }
}
.artists-container .artist img {
  width: 80%;
  border-radius: 8px;
}
.artists-container .artist img:hover {
  opacity: 80%;
}
.artists-container .artist a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  color: black;
  margin: 1% 0;
}
@media ((max-width: 500px)) {
  .artists-container .artist a {
    font-size: 1.2rem;
  }
}
.artists-container .artist p {
  text-align: center;
}
