nav{
    .flex(row, center, center);
    font-family: @headerFont;
    font-size: 2rem;
    padding: 4%;
    .current{
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: @textColor;
        padding: 0 1%;
        
    }
    #aboutLink{
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    @media(@phone){
        .flex(column, center, center);
        #aboutLink{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            border-left: none;
            border-right: none;
        }
        font-size: 1.4rem;
    }

}


